<div class = 'jumbotron'>
<h3>
  Prosimy o wpłatę na poniższe konto:
</h3>

<p>
Numer konta: <strong><%= Donate.account_number %></strong>
</p>
<p>
  <strong><%= t('amount') %>:</strong>
  <%= @donate.amount %> zł
</p>

<p>
    <strong>W tytule:</strong> Darowizna
</p>

<%= link_to t('back'), static_pages_main_path %>

</div>