<div class = 'jumbotron'>
<h3>
  Prosimy o wpłatę na poniższe konto:
</h3>

<p>
Numer konta
</p>
<p>
  <strong><%= t('donate.amount') %>:</strong>
  <%= @donate.amount %>
</p>

<p>
    <strong>W tytule:</strong> Darowizna
</p>

<%= link_to 'Edit', edit_donate_path(@donate) %> |
<%= link_to t('donate.back'), donates_path %>

</div>