<h1>Dziękujemy za wsparcie</h1>

<strong>Miejsca na konferencję już się skończyły. Wpłata nie zapewni Ci wejścia na Kickstart</strong>

<p>Pozdrawiamy,</p>
</p>
<p>
  Organizatorzy kickstartu (Kasia, Kuba, Piotrek i Aga)
</p>

<p><%= link_to 'http://kickstartpolska.pl', root_url %></p>



