<h1>Zgłoszenie wpłaty na Kickstart</h1>

<p>
  <%= @greeting %>,
</p>
<p>
  Bardzo dziękujemy za chęć wsparcia kickstartu kwotą <%= @amount %> zł
</p>

<% if @above %>
Jesteśmy pod wrażeniem tak dużego wsparcia.
Prosimy o przekazanie środków osobiście albo o 2 osobne przelewy
tak by kwota jednego przelewu od jednej osoby nie przekroczyła kwoty 4702 zł.
<% end %>

<p>
  Będziemy wdzięczni za wpłatę na poniższe konto.
</p>
<p>
  Numer konta:
</p>
<p>
  W tytule: Darowizna
</p>
<p>
  Pozdrawiamy,
</p>
<p>
  Organizatorzy kickstartu (Kasia, Kuba, Piotrek i Aga)
</p>



