<h1>Dziękujemy za wsparcie!</h1>

<%= @greeting %>

<p>Dzięki Twojej pomocy udało się sfinansować konferencję.</p>
<p>Zrobiliśmy to razem bez udziału jakichkolwiek organizacji.</p>
<p>Wiele osób mogło doświadczyć wolności, przemiany życia i uzdrowienia.</p>
<p>Jesteśmy wdzięczni Bogu za Ciebie.</p>


