<h1><%= t('user.mailer.created.title') %></h1>

<p>
  <%= @greeting %>

  Dziękujemy za zgłoszenie na Kickstart.
</p>
<p>
  Do zobaczenia 19-20 Sierpnia w Warszawie na ul. Bobrowieckiej 9
</p>

<p>Pozdrawiamy,</p>
</p>
<p>
  Organizatorzy kickstartu (Kasia, Kuba, Piotrek i Aga)
</p>

<p><%= link_to 'http://kickstartpolska.pl', root_url %></p>
