<h1><%= t('user.mailer.created.title') %></h1>

<p>
  <%= @greeting %>
</p>
<p>
  Dziękujemy za zgłoszenie na Kickstart.
</p>
<p>
  Do zobaczenia 19-20 Sierpnia w Warszawie na ul. Bobrowieckiej 9
</p>

<h2>Sobota - 19 Sierpnia</h2>

<table class="table table-hover">
  <tbody>
  <tr><td>9:00 - 10:00</td><td>Rejestracja</td></tr>
  <tr><td>10:00 - 11:25</td><td>Sesja wykładowa 1</td></tr>
  <tr><td>11:30 - 13:00</td><td>Sesja wykładowa 2 + modlitwy</td></tr>
  <tr><td>13:00 - 18:00</td><td>Przerwa obiadowa + Wyjście na ulice (kickstart)</td></tr>
  <tr><td>18:00 - 21:30</td><td>Sesja wykładowa 3</td></tr>
  </tbody>
</table>
<h2>Niedziela - 20 Sierpnia</h2>
<table class="table table-hover">
  <tbody>
  <tr><td>9:00 - 10:25</td><td>Sesja wykładowa 4</td></tr>
  <tr><td>10:30 - 12:00 </td><td>Sesja wykładowa 5</td></tr>
  <tr><td>12:00 - 16:00 </td><td>Przerwa obiadowa + Chrzty + opcjonalnie wyjście na ulice</td></tr>
  <tr><td>16:00 - 17:25 </td><td>Sesja wykładowa 6</td></tr>
  <tr><td>17:30 - 19:00</td><td>Sesja wykładowa 7</td></tr>
  </tbody>
</table>

<br />
<p>Pozdrawiamy,</p>
</p>
<p>
  Organizatorzy kickstartu (Kasia, Kuba, Piotrek i Aga)
</p>

<p><%= link_to 'http://kickstartpolska.pl', root_url %></p>
