<h1>Team members info</h1>
<p>We are happy that you want to help us with the Kickstart Warsaw (August 19-20).</p>
<p>Please register so that we know that you are coming otherwise we may not find a seat for you as there is a huge interest in the Kickstart Warsaw</p>
<p><%= link_to '>>Registration form<<', new_team_member_path %></p>
<br />
<%= render 'schedule' %>
<br />

<h2>Conference Center</h2>
<hr />
<div class="jumbotron">

<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2741.627824940411!2d21.042692911391523!3d52.20093373204627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd3a2af22d55%3A0x16a023d124f7e628!2sBobrowiecka+9%2C+00-728+Warszawa!5e0!3m2!1sen!2spl!4v1497887817090">
</iframe>
<h4><%= link_to 'Centrum Konferencyjno-Szkoleniowe Fundacji "Nowe Horyzonty"', 'http://centrumkonferencyjne.com.pl'  %></link_to> </h4>

<p><strong>Address:</strong> Bobrowiecka 9, Warsaw</p>
</div>
<br />

<h2>Accomodation</h2>
<hr />
<div class="jumbotron">
<p>We can provide a nice accommodation for some of you in a <%= link_to 'hotel', 'http://centrumkonferencyjne.com.pl/pl/oferta/pokoje-goscinne.html' %> belonging to the conference center. </p>
<p>Hotel night is 14:00-10:00 (breakfast included!)</p>
<p>We have booked (and payed for) 14 double rooms and one single room for Torben for 2 nights - Friday to Saturday and Saturday to Sunday</p>
  <p>If you marked on your registration form that you need accommodation we will contact you and let you know if it is still available.</p>
<br />
<p>If there was no room for you or you want to book more nights in this hotel you have to do it on your own:</p>
<strong>Centrum Konferencyjno-Szkoleniowe Fundacji "Nowe Horyzonty"</strong>
<ul>
  <li>Single room + breakfast cost 155 zł (~36 Euro)</li>
  <li>Double room + breakfast cost 170 zł (~40 Euro)</li>
</ul>

<p><strong>Address:</strong> Bobrowiecka 9, Warsaw</p>
<p><strong>Phone:</strong> +48 22 559 22 01 </p>
<p><strong>Email:</strong> recepcja@centrumkonferencyjne.com.pl</p>
</div>
  <br />

<h2>Questions</h2>
<hr />
<p>Contact Aga Brudny: aga.brudny@gmail.com</p>


