<%= render 'dashboard/admin_navbar' %>

<p>
  <strong>Nazwa:</strong>
  <%= @category.name %>
</p>

<%= link_to t('edit'), edit_category_path(@category) %> |
<%= link_to t('back'), categories_path %>
